<!--================================
        START AUTHOR AREA
    =================================-->
<section class="author-profile-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="sidebar sidebar_author">
                    <div class="author-card sidebar-card">
                        <div class="author-infos">
                            <div class="author_avatar">
                                <img class="grande" [src]="usuario.img|imagen" alt="Presenting the broken author avatar :D">
                            </div>

                            <div class="author">
                                <h4>{{usuario.nombre}}</h4>
                                <p>Signed Up: 08 April 2016</p>
                            </div>
                            <!-- end /.author -->

                            <div class="author-badges">
                                <ul class="list-unstyled">
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Diamnond Author">
                                              <img src="assets/images/svg/author_rank_diamond.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Has sold more than $10k">
                                              <img src="assets/images/svg/author_level_3.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Referred 10+ members">
                                              <img src="assets/images/svg/affiliate_level_1.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Has Collected 2+ Items">
                                              <img src="assets/images/svg/collection_level_1.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Exclusive Author">
                                              <img src="assets/images/svg/exclusive_author.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Weekly Featured Author">
                                              <img src="assets/images/svg/featured_author.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Member for 2 Year">
                                              <img src="assets/images/svg/members_years.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="The seller is recommended by authority">
                                              <img src="assets/images/svg/recommended.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Won a contest">
                                              <img src="assets/images/svg/contest_winner.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                    <li>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Helped to resolve copyright issues">
                                              <img src="assets/images/svg/copyright.svg" alt="" class="svg">
                                          </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.author-badges -->

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social -->


                        </div>
                        <!-- end /.author-infos -->


                    </div>
                    <!-- end /.author-card -->

                    <div class="sidebar-card author-menu">
                        <ul>
                            <li>
                                <a href="#" class="active">Profile</a>
                            </li>
                            <li>
                                <a href="author-items.html">Author Items</a>
                            </li>
                            <li>
                                <a href="author-reviews.html">Customer Reviews</a>
                            </li>
                            <li>
                                <a href="author-followers.html">Followers (67)</a>
                            </li>
                            <li>
                                <a href="author-following.html">Following (39)</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end /.author-menu -->



                    <div class="sidebar-card message-card">
                        <div class="card-title">
                            <h4>Product Information</h4>
                        </div>

                        <div class="message-form">
                            <form action="#">
                                <div class="form-group">
                                    <textarea name="message" class="text_field" id="author-message" placeholder="Your message..."></textarea>
                                </div>

                                <div class="msg_submit">
                                    <button type="submit" class="btn btn--md btn--round">send message</button>
                                </div>
                            </form>
                            <p> Please
                                <a href="#">sign in</a> to contact this author.</p>
                        </div>
                        <!-- end /.message-form -->
                    </div>
                    <!-- end /.freelance-status -->
                </aside>
            </div>
            <!-- end /.sidebar -->

            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="author-info mcolorbg4">
                            <p>Total Items</p>
                            <h3>4,369</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-4 -->

                    <div class="col-md-4 col-sm-4">
                        <div class="author-info pcolorbg">
                            <p>Total sales</p>
                            <h3>36,957</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-4 -->

                    <div class="col-md-4 col-sm-4">
                        <div class="author-info scolorbg">
                            <p>Total Ratings</p>
                            <div class="rating product--rating">
                                <ul>
                                    <li>
                                        <span class="fa fa-star"></span>
                                    </li>
                                    <li>
                                        <span class="fa fa-star"></span>
                                    </li>
                                    <li>
                                        <span class="fa fa-star"></span>
                                    </li>
                                    <li>
                                        <span class="fa fa-star"></span>
                                    </li>
                                    <li>
                                        <span class="fa fa-star-half-o"></span>
                                    </li>
                                </ul>
                                <span class="rating__count">(26)</span>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-4 -->

                    <div class="col-md-12 col-sm-12">


                        <div class="author_module about_author">
                            <h2>Sobre
                                <span>{{usuario.nombre}}</span>
                            </h2>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo quam aliquet
                                congue. Nunc placerat mi id nisi interdum mollis. Prae sent pharetra, justo ut scelerisque the mattisleo quam aliquet congue.</p>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra.</p>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="product-title-area">
                            <div class="product__title">
                                <h2>Newest Products</h2>
                            </div>

                            <a href="#" class="btn btn--sm">See all Items</a>
                        </div>
                        <!-- end /.product-title-area -->
                    </div>
                    <!-- end /.col-md-12 -->

                    <app-items-list [paginacion]="false" [filtro]="false" [limite]="3" [id]="usuario._id"></app-items-list>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.col-md-8 -->

        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
      END AUTHOR AREA
  =================================-->