<div class="row" *ngIf="filtro">
    <div class="col-md-12">

        <div *ngIf="this.totalRegistrosUser !==0" class="filter-bar dashboard_title_area clearfix filter-bar2">
            <div class="dashboard__title dashboard__title pull-left">

                <h3>Usuarios</h3>

            </div>

            <div class="pull-right">
                <div class="filter__option filter--text">
                    <p *ngIf="this.totalRegistrosUser===1">
                        <span>{{this.totalRegistrosUser}}</span> Producto</p>
                    <p *ngIf="this.totalRegistrosUser !==1">
                        <span>{{this.totalRegistrosUser}}</span> Productos</p>

                </div>

                <div class="filter__option filter--select">
                    <div class="select-wrap">
                        <select name="selectLimite" [(ngModel)]="limite">
                      <option *ngFor="let limite of this._filtrosService.limitesItem" [value]="limite">{{limite}} Items por página</option>
                </select>
                        <span class="lnr lnr-chevron-down"></span>
                    </div>
                </div>
            </div>
            <!-- end /.pull-right -->
        </div>
        <!-- end /.filter-bar -->
    </div>
    <!-- end /.col-md-12 -->

    <h6 *ngIf="this.totalRegistrosUser ==0" class="text-center">
        No se han encontrado resultados...
    </h6>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12" *ngFor="let usuario of usuarios | paginate: { itemsPerPage: this.limite, currentPage: p, totalItems: this.totalRegistrosUser  }">
        <div class="card_style2 p-2">
            <div class="row">
                <div class="col-4">
                    <div class="author_avatar">
                        <img [routerLink]="['/pages/author',usuario.nombre]" [src]="usuario.img|imagen" class="text-center" style="max-width:150px;border-radius: 48px;" alt="Presenting the broken author avatar :D">
                    </div>
                </div>
                <div class="col-8">

                    <a [routerLink]="['/pages/author',usuario.nombre]">
                        <h4 class="card_style2__title">{{usuario.nombre}}</h4>
                    </a>
                    <div class="card_style2__location_type">
                        <p>
                            <span class="lnr lnr-map-marker"></span>New York City</p>
                        <span class="type pcolorbg">Full Time</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end /.single_job -->
    </div>
    <!-- end /.col-md-6 -->
</div>
<div class="row" *ngIf="paginacion">
    <div class="col-md-12">
        <div class="pagination-area">
            <nav class="navigation pagination" role="navigation">
                <div class="nav-links">

                    <pagination-controls *ngIf="this.totalRegistrosUser !==0" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
                    <!-- <a class="prev page-numbers" href="#">
                  <span class="lnr lnr-arrow-left"></span>
              </a>
              <a class="page-numbers current" href="#">1</a>
              <a class="page-numbers" href="#">2</a>
              <a class="page-numbers" href="#">3</a>
              <a class="next page-numbers" href="#">
                  <span class="lnr lnr-arrow-right"></span>
              </a> -->
                </div>
            </nav>
        </div>
    </div>
</div>