<!-- comment reply -->



<div class="col-3">

    <img class="media-object" [src]="usuario.img|imagen" alt="Commentator Avatar">





    <form ngNativeValidate [formGroup]="formReview" (ngSubmit)="crearReview()" class="comment-reply-form">
        <div class="rating pt-2">
            <label>
            <input formControlName="puntuacion" type="radio" name="puntuacion" value="1" />
            <span class="icon">★</span>
          </label>
            <label>
            <input formControlName="puntuacion" type="radio" name="puntuacion" value="2" />
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
            <label>
            <input formControlName="puntuacion" type="radio" name="puntuacion" value="3" />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
            <label>
            <input formControlName="puntuacion" type="radio" name="puntuacion" value="4" />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
            <label>
            <input formControlName="puntuacion" type="radio" name="puntuacion" value="5" />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
        </div>

        <textarea formControlName="descripcion" name="descripcion" class="bla" placeholder="Escribe tu comentario..."></textarea>
        <button class="btn btn--md btn--round">Publicar Valoración</button>
    </form>
</div>


<!-- comment reply -->
