<div class="dashboard_contents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard_title_area">
                    <div class="pull-left">
                        <div class="dashboard__title">
                            <h3>Actualizar Producto</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->

        <div class="row">
            <div class="col-lg-8 col-md-7">
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="actualizarItem()">
                    <div class="upload_modules">
                        <div class="modules__title">
                            <h3>Nombre y Descripción</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">
                            <div class="form-group">
                                <label for="category">Categoría</label>
                                <div class="select-wrap select-wrap2">
                                    <select formControlName="categoria" id="category" class="text_field">
                                    <option value="">Seleciona una categoría</option>
                                    <option value="CAT1">CATEGORÍA</option>

                                </select>
                                    <span class="lnr lnr-chevron-down"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="product_name">Nombre del producto
                                <span>Este será el título que se mostrará</span>
                            </label>
                                <input formControlName="nombre" name="nombre" type="text" id="product_name" class="text_field" placeholder="Enter your product name here...">
                            </div>

                            <div class="form-group no-margin">
                                <p class="label">Descripción</p>
                                <div id="trumbowyg-demo">
                                    <textarea formControlName="descripcion" name="descripcion" id="descripcion" class="text_field" placeholder="Escribe una descripción de tu producto..."></textarea>

                                </div>
                            </div>
                        </div>
                        <!-- end /.modules__content -->
                    </div>
                    <!-- end /.upload_modules -->


                    <div class="upload_modules">
                        <div class="modules__title">
                            <h3>Others Information</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">
                            <div class="form-group">
                                <label for="tags">Tags
                                <span>(Max 10 tags)</span>
                            </label>
                                <textarea name="tags" id="tags" class="text_field" placeholder="Introduce los tags para ayudar a que encuentren tu producto..."></textarea>
                            </div>
                        </div>
                        <!-- end /.upload_modules -->
                    </div>
                    <!-- end /.upload_modules -->

                    <div class="upload_modules with--addons">
                        <div class="modules__title">
                            <h3>Información adicional</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="single_use">Basic</label>
                                        <div class="input-group">
                                            <input formControlName="precio" name="precio" type="text" id="single_use" class="text_field" placeholder="00.00">
                                            <span class="input-group-addon">€</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="double_use">Standard</label>
                                        <div class="input-group">
                                            <input formControlName="precio" name="precio" type="text" id="double_use" class="text_field" placeholder="00.00">
                                            <span class="input-group-addon">€</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="multi_user">Premium</label>
                                        <div class="input-group">
                                            <input formControlName="precio" name="precio" type="text" id="multi_user" class="text_field" placeholder="00.00">
                                            <span class="input-group-addon">€</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end /.row -->
                        </div>
                        <!-- end /.modules__content -->
                    </div>
                    <!-- end /.upload_modules -->

                    <!-- submit button -->
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn--round btn--lg btn--lg">Guardar </button>
                            <span (click)="borrarItem()" class="btn btn-lg btn--round btn-danger">Eliminar Producto</span>

                        </div>
                    </div>
                </form>
            </div>
            <!-- end /.col-md-8 -->

            <div class="col-lg-4 col-md-5">
                <aside class="sidebar upload_sidebar">
                    <div class="sidebar-card text-center">
                        <div class="card-title">
                            <img *ngIf="!imagenTemp" [src]="item.img|imagen:'items'" alt="Author profile area">
                            <img *ngIf="imagenTemp" [src]="imagenTemp" alt="Author profile area">
                            <!-- <input formControlName="img" name="img" type="text" class="text_field" placeholder="img"> -->
                        </div>

                        <div class="profile_image_area">




                            <div class="img_info">
                                <p class="subtitle">750x430 px (JPG, GIF o PNG)</p>

                            </div>

                            <div class="prof_img_upload">
                                <div class="upload_title">

                                    <label for="dp" class="upload_btn">

                                  <span class="btn btn--sm" aria-hidden="true">Seleccionar Archivo</span>

                                  <input style="display: none;" (change)="seleccionImagen($event.target.files[0])" type="file" id="dp">


                                </label>
                                    <button (click)="cambiarImagen()" class="btn btn--sm btn--success ml-2" aria-hidden="true">Guardar Cambios</button>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- end /.sidebar-card -->

                    <div class="sidebar-card">
                        <div class="card-title">
                            <h3>Trouble Uploading?</h3>
                        </div>

                        <div class="card_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceler isque the mattis, leo quam aliquet congue.</p>
                            <ul>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end /.sidebar-card -->

                    <div class="sidebar-card">
                        <div class="card-title">
                            <h3>More Upload Info</h3>
                        </div>

                        <div class="card_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceler isque the mattis, leo quam aliquet congue.</p>
                            <ul>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end /.sidebar-card -->
                </aside>
                <!-- end /.sidebar -->
            </div>
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</div>