<div class="dashboard_contents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard_title_area">
                    <div class="pull-left">
                        <div class="dashboard__title">
                            <h3>Actualizar Producto</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->

        <div class="row">
            <div class="col-lg-8 col-md-7">
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="actualizarItem()">
                    <div class="upload_modules">
                        <div class="modules__title">
                            <h3>Nombre y Descripción</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">
                            <div class="form-group">
                                <label for="category">Categoría</label>
                                <div class="select-wrap select-wrap2">
                                    <select formControlName="categoria" id="category" class="text_field">
                                    <option value="">Seleciona una categoría</option>
                                    <option value="CAT1">CATEGORÍA</option>

                                </select>
                                    <span class="lnr lnr-chevron-down"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="product_name">Nombre del producto
                                <span>Este será el título que se mostrará</span>
                            </label>
                                <input formControlName="nombre" name="nombre" type="text" id="product_name" class="text_field" placeholder="Enter your product name here...">
                            </div>

                            <div class="form-group no-margin">
                                <p class="label">Descripción</p>
                                <div id="trumbowyg-demo">
                                    <textarea formControlName="descripcion" name="descripcion" id="descripcion" class="text_field" placeholder="Escribe una descripción de tu producto..."></textarea>

                                </div>
                            </div>
                        </div>
                        <!-- end /.modules__content -->
                    </div>
                    <!-- end /.upload_modules -->

                    <div class="upload_modules module--upload">
                        <div class="modules__title">
                            <h3>Imágen</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">
                            <div class="form-group">
                                <div class="upload_wrapper">
                                    <p>Añadir imágen
                                        <span>(JPEG or PNG 100x100px)</span>
                                    </p>

                                    <div class="custom_upload">
                                        <label for="thumbnail">
                                        <input type="file" id="thumbnail" class="files">
                                        <input formControlName="img" name="img" type="text" id="product_name" class="text_field" placeholder="Enter your product name here...">

                                        <span class="btn btn--round btn--sm">Seleccionar archivo</span>
                                    </label>
                                    </div>
                                    <!-- end /.custom_upload -->

                                    <div class="progress_wrapper">
                                        <div class="labels clearfix">
                                            <p>nombre-archivo.jpg</p>
                                            <span data-width="89">89%</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end /.progress_wrapper -->

                                    <span class="lnr upload_cross lnr-cross"></span>
                                </div>
                                <!-- end /.upload_wrapper -->
                            </div>
                            <!-- end /.form-group -->

                        </div>
                        <!-- end /.upload_modules -->
                    </div>
                    <!-- end /.upload_modules -->

                    <div class="upload_modules">
                        <div class="modules__title">
                            <h3>Others Information</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">
                            <div class="form-group">
                                <label for="tags">Tags
                                <span>(Max 10 tags)</span>
                            </label>
                                <textarea name="tags" id="tags" class="text_field" placeholder="Introduce los tags para ayudar a que encuentren tu producto..."></textarea>
                            </div>
                        </div>
                        <!-- end /.upload_modules -->
                    </div>
                    <!-- end /.upload_modules -->

                    <div class="upload_modules with--addons">
                        <div class="modules__title">
                            <h3>Información adicional</h3>
                        </div>
                        <!-- end /.module_title -->

                        <div class="modules__content">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="single_use">Basic</label>
                                        <div class="input-group">
                                            <input formControlName="precio" name="precio" type="text" id="single_use" class="text_field" placeholder="00.00">
                                            <span class="input-group-addon">€</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="double_use">Standard</label>
                                        <div class="input-group">
                                            <input formControlName="precio" name="precio" type="text" id="double_use" class="text_field" placeholder="00.00">
                                            <span class="input-group-addon">€</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="multi_user">Premium</label>
                                        <div class="input-group">
                                            <input formControlName="precio" name="precio" type="text" id="multi_user" class="text_field" placeholder="00.00">
                                            <span class="input-group-addon">€</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end /.row -->
                        </div>
                        <!-- end /.modules__content -->
                    </div>
                    <!-- end /.upload_modules -->

                    <!-- submit button -->
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn--round btn--lg btn--lg">Guardar </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end /.col-md-8 -->

            <div class="col-lg-4 col-md-5">
                <aside class="sidebar upload_sidebar">
                    <div class="sidebar-card text-center">
                        <div class="card-title">
                            <button (click)="borrarItem()" class="btn btn-lg btn--round btn-danger">Eliminar</button>

                        </div>

                        <div class="card_content">
                            <div class="card_info">
                                <h4>Image Upload</h4>
                                <p>Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris que the mattis interdum.</p>
                            </div>

                            <div class="card_info">
                                <h4>File Upload</h4>
                                <p>Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris que the mattis interdum.</p>
                            </div>

                            <div class="card_info">
                                <h4>Vector Upload</h4>
                                <p>Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris que the mattis interdum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end /.sidebar-card -->

                    <div class="sidebar-card">
                        <div class="card-title">
                            <h3>Trouble Uploading?</h3>
                        </div>

                        <div class="card_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceler isque the mattis, leo quam aliquet congue.</p>
                            <ul>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end /.sidebar-card -->

                    <div class="sidebar-card">
                        <div class="card-title">
                            <h3>More Upload Info</h3>
                        </div>

                        <div class="card_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceler isque the mattis, leo quam aliquet congue.</p>
                            <ul>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the labore et dolore magna.</li>
                                <li>Consectetur elit, sed do eiusmod the</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end /.sidebar-card -->
                </aside>
                <!-- end /.sidebar -->
            </div>
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</div>