#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.imgRedonda {
    max-width: 46px;
    max-height: 46px;
    border-radius: 23px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img_temp_item {
    width: 350px;
    height: 205px;
    object-fit: cover;
}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 19px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    overflow: hidden;
}

.reviewUser {
    width: 60px;
    border-radius: 60px;
    object-fit: cover;
}

.author_avatar .grande {
    border-radius: 48px;
    width: 90px;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
    font-size: 17px;
    letter-spacing: 4px;
    ;
}

.rating label:last-child .icon {
    color: #ccc;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #EEBD01;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #ccc;
    text-shadow: 0 0 5px #EEBD01;
}
