#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.imgRedonda {
    max-width: 46px;
    max-height: 46px;
    border-radius: 23px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img_temp_item {
    width: 350px;
    height: 205px;
    object-fit: cover;
}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 19px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    overflow: hidden;
}

.reviewUser {
    width: 60px;
    border-radius: 60px;
    object-fit: cover;
}